body {
    background-color: #DEEFE7;
    height: 100vh;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    background-color: #5dd4d6;
}

h1{
    font-size:40px;
    background-color: #5dd4d6;
    text-align: left;
}

h3{
    background-color: #5dd4d6;
    text-align: left;
    width: 200px;
    height: 150px;
    margin-right: 10px;
}

p{
    font-size: 25px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    box-sizing: border-box;
}

#posts {
    flex: 3;
    margin-right: 20px;
    height: 1300px;
    border-style: solid;
    border-color: #159A9C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    background-color: #74dadb67;
}

.post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post img {
    width: 175px;
    height: 175px;
    margin-right: 10px;
    border-style: solid;
    border-color: #159A9C;
}

#users {
    flex: 1;
    height: 1300px;
    border-style: solid;
    border-color: #159A9C;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #74dadb67;
}

#to-do{
    background-color: #74dadb67;
    flex: 1;
    height: 1300px;
    border-style: solid;
    border-color: #159A9C;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-right:20px;
}
